.about{
    background-color: var(--bg-color2);
    padding: 30px 10%;
}
.title{
    background-color: #1c2531;
    display: block;
    margin: 20px;
    border-radius: 20px;
    padding: 10px 20px;
    justify-self: center;
}
.about .about-container{
    padding-top: 30px ;
    display: flex;
    gap: 20px;
    align-items: center;
}
.about .about-container .about-img{
    width: 100%;
}
.about-img img{
    width: 70%;
}
.about .about-container .about-content{
    width: 100%;
    text-align: left;
}

@media (max-width: 768px) {
    .about .about-container{
        flex-direction: column;
    }
    .about .about-container .about-img img{
        width: 100%;
    }
    
}