.work-container{
    padding: 30px;
    justify-items: center;
}
.work-container .title{
    background-color: var(--bg-color-label);
}
.work-list{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
}