.about{
    background-color: #2a323d;
    padding: 0 10%;
    text-align: center;
    height: 85vh;
}
.about button{
    margin-top: 50px;
}
.about .about-container{
    padding-top: 30px ;
    display: flex;
    gap: 20px;
}
