
.experience-tag {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    background-color: var(--bg-color1);
    border-radius: 10px;
    display: flex;
    margin: 0 auto;
    gap: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);

}
.experience-tag:hover{
    box-shadow: 0 0 10px #7cf03d;
    transition: box-shadow 0.5s ease, transform 0.5s ease;

}
.experience-tag-icon,
.experience-tag-time {
    width: 20%;
}
.experience-tag-icon {
    order: 0;
    text-align: center;
}
.experience-tag-time {
    order: 2;
}
.experience-tag-content {
    width: 60%;
    margin-bottom: 10px;
    order: 1;
}

.experience-tag-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-tag-description {
    margin-left: 20px;
    margin-bottom: 6px;
    text-indent: -10px;
    padding-left: 10px;
    line-height: 1.5;
}

.experience-tag-icon img {
    width: 80%;
}

.experience-tag p {
    text-align: start;
}

p.experience-tag-time {
    text-align: end;
}
.experience-tag-toggle-btn {
    background: none;
    border: none;
    color: #808080;
    cursor: pointer;
    padding: 4px 0;
    font-weight: 600;
    font-size: 14px;
}

@media (max-width: 768px) {
    .experience-tag{
        flex-direction: column;
    }
    .experience-tag-icon{
        order: 0;
        width: 60%;
        margin: 0 auto;
    }
    .experience-tag-content{
        order: 2;
        width: 100%;
    }
    .experience-tag-time{
        order: 1;
        width: 100%;
    }
    p.experience-tag-time {
        text-align: start;
    }
    
}
@media (max-width: 425px) {
    .experience-tag-icon{
        width: 100%;
    }
}