/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  scroll-margin-top: 70px;
  /* chiều cao của sticky header */
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg-color1);
  height: auto;
  min-height: 50px;
  width: 100%;
  padding: 25px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  animation: show-content 1s ease-in-out forwards;
  animation-delay: 1.75s;
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
}

.navbar .logo {
  font-size: 30px;
  font-weight: 700;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  height: 100%;
  align-items: center;
}

.navbar ul a {
  font-size: 20px;
  font-weight: 500;
}

.navbar ul li:hover a,
.navbar ul li.active a {
  color: var(--highlight-color);
}

.navbar-menu {
  display: flex;
  align-items: center;
  height: 100%;
  gap: 10px;
}


/* Button language */
.language-switcher {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: var(--highlight-color);
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(225, 165, 165, 0.2);
  z-index: 1;
  border-radius: 5px;
  overflow: hidden;
  width: 100px;
}

.dropdown-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width: 100%;
  /* Đảm bảo nút chiếm toàn bộ chiều rộng */
  border: none;
  /* Bỏ viền cho nút */
  background: transparent;
  /* Nền trong suốt */
  text-align: left;
  /* Căn trái cho chữ */
}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

/* Home */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 20vh 10%;
  color: var(--text-color);
  gap: 50px;
  opacity: 0;
  visibility: hidden;
  animation: show-content 1s ease-in-out forwards;
  animation-delay: 1s;
  color: var(--text-color);
}

.App {
  opacity: 0;
  visibility: hidden;
  animation: show-content 1s ease-in-out forwards;
  animation-delay: 1s;
}

.home-info h1 {
  font-size: 55px;
}

.home-info h2 {
  display: inline-block;
  font-size: 35px;
  margin-top: -10px;
}

.home-info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--highlight-color);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

  25%,
  100% {
    display: none;
  }
}

.home-info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid var(--highlight-color);
  color: var(--highlight-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.home-info p {
  margin: 10px 0 25px;
  font-size:large;
}

.home-info p .status-dot {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--highlight-color);
  box-shadow: 0 0 10px var(--highlight-color);
  margin-right: 8px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--highlight-color);
  border: 2px solid var(--highlight-color);
  border-radius: 40px;
  box-shadow: 0 0 10px var(--highlight-color);
  font-size: 16px;
  color: #1f242d;
  font-weight: 600;
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  color: var(--highlight-color);
  box-shadow: none;
  cursor: pointer;
}

/* Social Icons */
.btn-sci {
  display: flex;
  align-items: center;
}

.sci {
  margin-left: 20px;
}

.sci a {
  display: inline-flex;
  padding: 8px;
  border: 2px solid var(--highlight-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--highlight-color);
  margin: 0 8px;
  transition: 0.5s;
  text-decoration: none;
}

.sci a:hover {
  background: var(--highlight-color);
  color: #1f242d;
  box-shadow: 0 0 10px var(--highlight-color);
}

/* Home Image */
.home-img .img-box {
  position: relative;
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-color1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 1;
}

.home-img .img-box .img-item img {
  position: absolute;
  top: 30px;
  display: block;
  width: 85%;
  object-fit: cover;
  mix-blend-mode: normal;
}

/* Bars Animation */
.bars-animation {
  position: absolute;
  width: 100%;
  height: 100vh;
  display: flex;
}

.bars-animation .bar {
  width: 100%;
  height: 100%;
  background: #1f242d;
  transform: translateY(-100%);
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(0.1s * var(--i));
}

/* Animations */
@keyframes show-content {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  50% {
    opacity: 0.5;
    visibility: visible;
  }

  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes show-bars {
  100% {
    transform: translateY(0%);
  }
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: '';
  position: absolute;
  aspect-ratio: 1/1;
  width: 100%;
  background: conic-gradient(transparent, transparent, #7cf03d, #7cf03d);
}

.footer-top {
  padding: 30px 10%;
  background-color: var(--bg-color2);
  justify-items: center;
  text-align: center;
}



.footer-top p {
  max-width: 500px;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  background-color: var(--bg-color-footer);
}

/* Responsive */
@media (max-width: 1024px) {
  .navbar {
    padding: 15px 5%;
  }

  .navbar .logo {
    font-size: 22px;
  }

  .navbar ul a {
    font-size: 16px;
  }

  .home-info h1 {
    font-size: 40px;
  }

  .home-info h2 {
    font-size: 28px;
  }

  .home-info p {
    font-size: 14px;
  }

  .home-img .img-box {
    width: 35vw;
    height: 35vw;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  

  .home {
    flex-direction: column;
    flex-direction: column-reverse;
  }

  .home-info h1 {
    font-size: 35px;
  }

  .home-info h2 {
    font-size: 24px;
  }

  .home-info p {
    font-size: 12px;
  }

  .btn {
    font-size: 12px;
    padding: 6px 20px;
  }

  .home-img .img-box {
    width: 50vw;
    height: 50vw;
  }
}
@media (max-width:610px) {
  ul.menu{
    display: none;
  }
  .navbar{
    flex-direction: row;
  }
}
@media (max-width: 480px) {
  .home-info h1 {
    font-size: 28px;
  }

  .home-info h2 {
    font-size: 20px;
  }

  .home-info p {
    font-size: 10px;
  }

  .btn {
    font-size: 10px;
    padding: 5px 15px;
  }

  .home-img .img-box {
    width: 65vw;
    height: 65vw;
  }
}