/* global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display';
}
html{
  scroll-behavior: smooth;
}
body{
  animation: change-bg 1s ease-in-out forwards;
  color: var(--text-color);
}
/*theme color*/
body.dark{
  --bg-color1: #1F242D;
  --bg-color2: #2A323D;
  --bg-color-label:#2A323D;
  --bg-color-label1:#1F242D;
  --bg-tag-color:#2A323D;
  --text-color: white;
  --p-color:lightgrey;
  --bg-color-footer:#11141B;
  --highlight-color:#7cf03d;
  --btn-tag-color:#1F242D;
}
body.light {
  --bg-color1: 	#FDFDFD;            
  --bg-color2: #F8F8F8;
  --bg-color-label:#E7E6EC;    
  --bg-color-label1:#E7E6EC;     
  --bg-tag-color:#E7E6EC;  
  --text-color: #000;            
  --p-color: #474747;               
  --bg-color-footer: #dadce0;     
  --highlight-color:#53A626;  
  --btn-tag-color:#E7E6EC;
}







/* Button */
.btn-underline
 {
  position: relative;
}
.btn-underline::after {
  content: "";
  position: absolute;
  left: 1%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease;
}
.btn-underline:hover::after {
  width: 98%;
}

/* Icon */
.icon {
  transition: transform 0.3s ease;
}
.icon:hover {
  transform: rotate(20deg) scale(1.1);
}

/* Selection */
.fade-in {
  opacity: 0;
  transform: translateY(60px);
  filter: blur(4px); /* Thêm mờ lúc ban đầu */
  transition: opacity 1s ease-out, transform 1s ease-out, filter 0.3s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}



/* Tag */
.tag:hover{
  box-shadow: 0 0 10px #7cf03d;
}

/* p text */
p{
  font-size: medium;
  color: var(--p-color);
}


@keyframes change-bg {
  0% {
    background-color:var(--text-color);
  }
  100% {
    background-color: var(--bg-color1); 
  }
}
