/* global CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display';
}
html{
  scroll-behavior: smooth;
}
body{
  animation: change-bg 1s ease-in-out forwards;
  color: var(--text-color);
}
/*theme color*/
body.dark{
  --bg-color1: #1F242D;
  --bg-color2: #2A323D;
  --tag-bg-color1: #1F2734;
  --tag-bg-color2a: #2D333E;
  --tag-bg-color2b: #303942;
  --text-color: white;
  --p-color:lightgrey;
  --bg-color-footer:#11141B;
}
body.light {
  --bg-color1: #f4f4f6;             /* nền chính - xám sữa nhẹ */
  --bg-color2: #eaecef;             /* nền phụ - xám hơi xanh */
  --tag-bg-color1: #e1e3e6;         /* tag nhẹ - xám nhạt */
  --tag-bg-color2a: #d2d4d7;        /* tag đậm hơn 1 chút */
  --tag-bg-color2b: #c5c7ca;        /* tag đậm nhất */
  --text-color: #2e2e33;            /* màu chữ: đen nhẹ êm dịu */
  --p-color: #4b4b4d;               /* màu chữ p: xám nhẹ */
  --bg-color-footer: #dadce0;       /* footer: xám sáng ấm */

}







/* Button */
button {
  position: relative;
  color: #000;
}
button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s ease;
}
button:hover::after {
  width: 100%;
}

/* Icon */
.icon {
  transition: transform 0.3s ease;
}
.icon:hover {
  transform: rotate(20deg) scale(1.1);
}

/* Selection */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}
.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Tag */
.tag:hover{
  box-shadow: 0 0 10px #7cf03d;
}

/* p text */
p{
  font-size: medium;
  color: var(--p-color);
}


@keyframes change-bg {
  0% {
    background-color:var(--text-color);
  }
  100% {
    background-color: var(--bg-color1); 
  }
}
