.work-tag {
    width: 100%;
    max-width: 1200px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);

}


.work-tag:hover {
    box-shadow: 0 0 10px var(--highlight-color);
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.work-tag-demo {
    background-color: var(--bg-color2);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .work-tag-demo:hover .work-tag-img iframe {
    transform: scale(1.02);
    filter: brightness(0.9);
    transition: 0.3s;
} */

.work-tag-demo .work-tag-img {
    width: 100%;
    padding: 2vw;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.iframe-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
    transition: background 0.2s ease;
    cursor: pointer;
}
.iframe-overlay button{
    position: absolute;
    text-transform: uppercase;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: top 0.3s ease;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px ;
}
p.btn-underline::after{
    background: white;
}
.iframe-overlay:hover button{
    transition-delay: 0.1s;
    top: 50%;
}

.work-tag-img:hover .iframe-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.work-tag-img img {
    width: 100%;
    aspect-ratio: 5/3;
    border-radius: 10px;
    pointer-events: none;
    border: 0.5px solid rgba(0, 0, 0, 0.8);
}

.work-tag-content {
    width: 50%;
    background-color: var(--bg-color2);
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.work-tag-content a{
    display: flex;
    gap: 10px;
    text-decoration-color: var(--highlight-color);
}

.work-tag-content p.note{
    font-size: 12px;
}

.work-tag.reverse {
    flex-direction: row-reverse;
}

.icon-open {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: gray;
}



@media (max-width: 768px) {
    .work-tag {
        flex-direction: column;
        margin: 0 10px;
    }

    .work-tag.reverse {
        flex-direction: column;
    }

    .work-tag-demo,
    .work-tag-content {
        width: 100%;
    }

    .work-tag-content {
        padding-bottom: 50px;
    }
}