.work-tag {
    width: 100%;
    max-width: 1200px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.work-tag:hover{
    box-shadow: 0 0 10px #7cf03d;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}
.work-tag-demo {
    background-color: #2D333E;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-tag-demo:hover .work-tag-img iframe {
    transform: scale(1.02);
    filter: brightness(0.9);
    transition: 0.3s;
}

.work-tag-demo .work-tag-img {
    width: 100%;
    padding: 2vw;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.iframe-overlay {
    position: absolute;
    inset: 0;
    z-index: 2;
}

.work-tag-img iframe {
    width: 100%;
    aspect-ratio: 5/3;
    min-height: 250px;
    border-radius: 10px;
    pointer-events: none;
}

.work-tag-content {
    width: 50%;
    background-color: #303942;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.work-tag.reverse {
    flex-direction: row-reverse;
}

.icon-open {
    width: 20px;
    height: 20px;
    cursor: pointer;
    color: gray;
}



@media (max-width: 768px) {
    .work-tag {
        flex-direction: column;
    }

    .work-tag.reverse {
        flex-direction: column;
    }

    .work-tag-demo,
    .work-tag-content {
        width: 100%;
    }

    .work-tag-content {
        padding-bottom: 50px;
    }
}