.work-tag{
    width: 100%;
    max-width: 1200px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}
.work-tag-demo{
    background-color: #2D333E;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-tag-demo .work-tag-img{
    width: 100%;
    padding: 2vw;
    overflow: hidden;
    
}
.work-tag-img iframe{
    width: 100%;
    aspect-ratio: 5/3;
    min-height: 250px;
    border-radius: 10px;
}
.work-tag-content{
    width: 50%;
    background-color: #191F2A;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.work-tag-content p{
    font-size: small;
    color: lightgrey;
    
}
.work-tag.reverse{
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .work-tag{
        flex-direction: column;
    }
    .work-tag.reverse{
        flex-direction: column;
    }
    .work-tag-demo, .work-tag-content{
        width: 100%;
    }
}